<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tuff.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8E8693DC63ED5BA190B3F4073D85DA151B7897F0</string>
				<key>dateExpires</key>
				<string>3/27/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E8693DC63ED5BA190B3F4073D85DA151B7897F0</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2ZQ5ZX9M5</string>
						<key>name</key>
						<string>Collin Boler</string>
					</dict>
					<key>versionNumber</key>
					<string>12.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E8693DC63ED5BA190B3F4073D85DA151B7897F0</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2ZQ5ZX9M5</string>
						<key>name</key>
						<string>Collin Boler</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240722.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E8693DC63ED5BA190B3F4073D85DA151B7897F0</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2ZQ5ZX9M5</string>
						<key>name</key>
						<string>Collin Boler</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E8693DC63ED5BA190B3F4073D85DA151B7897F0</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2ZQ5ZX9M5</string>
						<key>name</key>
						<string>Collin Boler</string>
					</dict>
					<key>versionNumber</key>
					<string>1.69.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E8693DC63ED5BA190B3F4073D85DA151B7897F0</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2ZQ5ZX9M5</string>
						<key>name</key>
						<string>Collin Boler</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.37</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E8693DC63ED5BA190B3F4073D85DA151B7897F0</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>U2ZQ5ZX9M5.com.collinboler.tuff.ActivityReport</string>
						<key>com.apple.developer.team-identifier</key>
						<string>U2ZQ5ZX9M5</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.collinboler.tuff</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>TuffActivityReport.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>92a37957-bc9a-4656-937a-fa70feea32e2</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.collinboler.tuff.ActivityReport</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2ZQ5ZX9M5</string>
						<key>name</key>
						<string>Collin Boler</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E8693DC63ED5BA190B3F4073D85DA151B7897F0</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>U2ZQ5ZX9M5.com.collinboler.tuff.DeviceActivity</string>
						<key>com.apple.developer.team-identifier</key>
						<string>U2ZQ5ZX9M5</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.collinboler.tuff</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>TuffDeviceActivity.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>e5fff91a-d643-4627-a6cc-f256d2e482ea</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.collinboler.tuff.DeviceActivity</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2ZQ5ZX9M5</string>
						<key>name</key>
						<string>Collin Boler</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E8693DC63ED5BA190B3F4073D85DA151B7897F0</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>U2ZQ5ZX9M5.com.collinboler.tuff.TuffLiveActivity</string>
						<key>com.apple.developer.team-identifier</key>
						<string>U2ZQ5ZX9M5</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.collinboler.tuff</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>TuffLiveActivity.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>f674c3a6-2c8a-4c72-bbe7-caa6f0597494</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.collinboler.tuff.TuffLiveActivity</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2ZQ5ZX9M5</string>
						<key>name</key>
						<string>Collin Boler</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E8693DC63ED5BA190B3F4073D85DA151B7897F0</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>U2ZQ5ZX9M5.com.collinboler.tuff.ShieldAction</string>
						<key>com.apple.developer.team-identifier</key>
						<string>U2ZQ5ZX9M5</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.collinboler.tuff</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>TuffShieldAction.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>3b5b1f27-95f2-4433-8c60-381392754e6e</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.collinboler.tuff.ShieldAction</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2ZQ5ZX9M5</string>
						<key>name</key>
						<string>Collin Boler</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>8E8693DC63ED5BA190B3F4073D85DA151B7897F0</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>U2ZQ5ZX9M5.com.collinboler.tuff.ShieldConfiguration</string>
						<key>com.apple.developer.team-identifier</key>
						<string>U2ZQ5ZX9M5</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.collinboler.tuff</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>TuffShieldConfiguration.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>81abbe00-679c-4a3f-8882-82f716350c3e</string>
						<key>dateExpires</key>
						<string>3/27/27</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.collinboler.tuff.ShieldConfiguration</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>U2ZQ5ZX9M5</string>
						<key>name</key>
						<string>Collin Boler</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>U2ZQ5ZX9M5.com.collinboler.tuff</string>
				<key>com.apple.developer.family-controls</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>U2ZQ5ZX9M5</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.collinboler.tuff</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Tuff.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4ee5cdd5-0f29-424b-93d3-97d0233f2b73</string>
				<key>dateExpires</key>
				<string>3/27/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.collinboler.tuff</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>U2ZQ5ZX9M5</string>
				<key>name</key>
				<string>Collin Boler</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
